<%= form_for(@wurl) do |f| %>
  <% if @wurl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wurl.errors.count, "error") %> prohibited this wurl from being saved:</h2>

      <ul>
      <% @wurl.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ourl %><br>
    <%= f.text_area :ourl %>
  </div>
  <div class="field">
    <%= f.label :turl %><br>
    <%= f.text_field :turl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
