<p id="notice"><%= notice %></p>

<p>
  <strong>Ourl:</strong>
  <%= @wurl.ourl %>
</p>

<p>
  <strong>Turl:</strong>
  <%= @wurl.turl %>
</p>

<%= link_to 'Edit', edit_wurl_path(@wurl) %> |
<%= link_to 'Back', wurls_path %>
